doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="/asset/bootstrap/bootstrap.min.css")
        
    body
        h1 book
        p Welcome to book-list
        input(type='text' name='name' placeholder="书籍名" )
        input(type='text' name='code' placeholder="书籍编号")
        div(class='heigh-20')
        button(type='button' class='btn btn-primary' id='to-add-book') 添加书籍
        p #{message}
        if result
            if result.list.length
            table(style='width:80%;')
                tr
                    th(style='width:50px;') #
                    th(style='width:100px;') 书名
                    th(style='width:100px;') 编号
                    th(style='width:200px;') 添加时间
                each item , index in result.list
                    tr
                        each value ,iindex in item
                            td= value
            nav(style="margin:10px;")
                a(href="/book" style ="width:20px;display:inline-block;") 1
                a(href="/book/2" style ="width:20px;display:inline-block;") 2
                a(href="/book/3" style ="width:20px;display:inline-block;") 3

            
    script( type="text/javascript" src="/asset/jquery/jquery-2.2.1.js")
    script( type="text/javascript" src="/asset/bootstrap/bootstrap.min.js")
    script( type="text/javascript" src="/js/book.js")