<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	   
	<!--<title><%= title %></title>-->
  
    <link rel="stylesheet" type="text/css" href="/asset/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style/basic.css">
    <script type="text/javascript" src="/asset/jquery/jquery-2.2.1.js"></script>
    <script type="text/javascript" src="/asset/bootstrap/bootstrap.min.js"></script>
  </head>

  <body>

	<div id="container" class="container">
	   <!--<% if (locals.success) { %> 
		  <div id="alt_sucess" class="alert alert-success"> 
			<%- success %> 
		  </div> 
	   <% } %> 

	  <% if (locals.error) { %> 
		<div id="alt_warning" class="alert alert-warning"> 
		  <%= error %> 
		</div> 
	  <% } %> -->

	  <form class="form-signin" action="/gateway/api/user-img" role="form" method="post" enctype='multipart/form-data'>
		<h2 class="form-signin-heading">上传文件</h2>
		<input id="fulAvatar" name="fulAvatar" type="file" class="form-control" />	 
		<br/>
		<button id="btnSub" class="btn btn-lg btn-primary" type="submit">上 传</button>
	  </form>	
	</div> 
  </body>
</html>